%flex-layout{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
};

.navbar{
    @extend %flex-layout;
    padding: $base-padding $base-padding * 2;
    box-shadow: $base-box-shadow;

    .nav-brand{
        font-size: $font-size-lg;
    }
    .container{
        @extend %flex-layout;
    }
};

@each $key,$val in $colors{
    .navbar-#{$key}{
        @extend .navbar;
        background-color: $val;
    }
}